<header class="navbar">
  
    <!-- Left Side: Navigation Links -->
    <div class="nav-links">
        <img src="../../../assets/book-stack.png" width="50rem" height="50rem">
        <h2 style="display: flex;justify-content:center; align-items:center">Book Exchange Platform</h2>
        <a href="" class="nav-item">Home</a>
        <a href="add-book" class="nav-item">Add Book</a>
        <a href="book-list" class="nav-item">My Listings</a>
    </div>
  </header>

  <router-outlet></router-outlet>
  

