<header class="navbar">
  
  <!-- Left Side: Navigation Links -->
  <div class="nav-links">
      <img src="../../../assets/book-stack.png" width="50rem" height="50rem">
      <h2 style="display: flex;justify-content:center; align-items:center">Book Exchange Platform</h2>
      <a href="/" class="nav-item">Home</a>
      <a href="/add-book" class="nav-item">Add Book</a>
      <a href="/my-listings" class="nav-item">My Listings</a>
  </div>
</header>

<div class="container">
  <!-- Left Side: Text Content -->
  <div class="text-content">
      <h1>Welcome to Book Exchange</h1>
      <p>Swap, Buy, and Sell Books with Ease!</p>
      <ul >
        <li *ngFor="let book of books">
          {{ book.title }} by {{ book.author }} ({{ book.publishedYear }})
          <button (click)="deleteBook(book._id!)">Delete</button>
          <a [routerLink]="['/book', book._id]">View Details</a>
        </li>
      </ul>
      
      <a  class="add-book-btn" routerLink="/add-book">Add a New Book</a>
      
  </div>

  <!-- Right Side: Image -->
  <div class="image-container">
      <img src="../../../assets/tiny-woman-sitting-huge-book-flat-vector-illustration.png" alt="Book Illustration">
  </div>
</div>


