  /* Navbar Styling */
.navbar {
    background-color: #1E3A8A; /* Dark blue */
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Links */
.nav-links {
    display: flex;
    gap: 24px; /* Space between links */
    display: flex;
    justify-content:center; 
    align-items:center
}

/* Link Styling */
.nav-item {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Hover Effect */
.nav-item:hover {
    color: #FAF3E0; /* Light cream color */
}


/* Main Container */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

/* Left Side: Text Content */
.text-content {
    width: 50%;
    padding: 24px;
}

.text-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Add Book Button */
.add-book-btn {
    background-color: #FACC15; /* Yellow */
    color:black;
    padding: 12px 24px;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.add-book-btn:hover {
    background-color: #EAB308; /* Darker Yellow */
}

/* Right Side: Image */
.image-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.image-container img {
    width: 80%;
    height: auto;
}
