<div class ="container">
  <ul *ngIf="books && books.length; else noBooks">
    <li *ngFor="let book of books">
      <p class=""><span style="font-weight: 900;">Book Name :</span> {{ book.title }}</p>
      <p><span style="font-weight: 900;">Author Name :</span>{{ book.author }}</p>
      <button (click)="deleteBook(book._id!)">Delete</button>
      <a [routerLink]="['/book', book._id]">View Details</a>
    </li>
  </ul>

  <ng-template #noBooks>
    <p>No books found!</p>
  </ng-template>
</div>
